/* Responsive Mobile/Small Device */
@media screen and (max-width: 576px) {
    h1 {
        font-size: 2.5rem;
        font-weight: 800;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 3.5rem;
    }

    .ham-burger {
        display: block;
    }

    .ham-burger i {
        font-size: 26px;
    }

    .nav-links {
        display: none;
    }

    .header-button {
        justify-content: center;
    }

    .header-section,
    .extra-mile-content,
    .bmi-content,
    .footer-container,
    .footer-link-content {
        flex-direction: column;
    }

    .your-habit-content {
        grid-template-columns: 1fr;
    }

    .extra-mile-content {
        padding: 20px;
    }

    .bmi-content {
        align-items: center;
        gap: 3rem;
    }

    .bmi-calculator-cart,
    .calculate-your-bmi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }
    .bmi-form input[type='submit'] {
        width: 100%;
        margin-top: 2rem;
    }

    .table caption {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .extra-mile,
    .getstarted1,
    .getstarted2,
    .extra-mile-img {
        width: 100%;
    }

    .footer-logo-content,
    .footer-link-content {
        width: 95%;
    }

    .getstarted1,
    .getstarted2 {
        margin-top: 3rem;
    }

    .extra-mile a {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }

    /* Run an Extra Mile Easily */

    .extra-wrapper {
        width: 325px;
        height: 200px;
    }

    .extra-mile-img {
        transform: translate(-50px, 30px);
    }

    .extra-mile-img img {
        transform: scale(1.6);
    }

    .training-content1 {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .training-content2 {
        grid-template-columns: 1fr 1fr;
    }

    .bmi-title {
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }

    .our-team-content {
        grid-template-columns: 1fr;
    }

    .habit-item {
        margin-bottom: 1rem;
    }

    .habit-item img {
        margin-bottom: 5px;
    }

    .header-left {
        max-width: 100%;
    }

    .header-left h1 {
        font-size: 2rem;
    }

    .dancing-font {
        font-size: 3rem;
    }

    .primary-button {
        font-weight: 400;
        padding: 16px 24px;
        font-size: 16px;
    }

    .secondary-button {
        font-weight: 400;
        padding: 16px 24px;
        font-size: 16px;
    }

    .workout-section {
        top: 46%;
        right: 4%;
    }

    .video-section {
        top: 68%;
        right: 47%;
    }

    .play-icon {
        top: 71.5%;
        right: 80.5%;
    }

    /* Training and Exercises */
    .training-content:nth-child(1) {
        grid-column: 1/9;
    }

    .training-content:nth-child(2) {
        grid-column: 9/17;
    }

    .training-content:nth-child(3) {
        display: none;
    }

    .training-content:nth-child(4) {
        grid-column: 1/8;
    }

    .training-content:nth-child(5) {
        grid-column: 8/17;
    }

    .training-content:nth-child(6) {
        display: none;
    }

    .training-item p {
        font-size: 12px;
        top: 50%;
        left: 10%;
    }

    .training-item-2 p {
        top: 0%;
    }

    /* Meet Our Team */
    .dianne-russel p {
        top: 60%;
    }
}

/* Responsive Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    h1 {
        font-size: 2rem;
        font-weight: 800;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 3.5rem;
    }

    .header-button {
        justify-content: center;
    }

    .ham-burger {
        display: none;
    }

    .header-section,
    .bmi-content,
    .footer-container {
        flex-direction: column;
    }

    .footer-logo-content {
        width: 95%;
    }

    .footer-logo-content p {
        width: 50%;
    }

    .footer-link-content {
        width: 95%;
        justify-content: start;
        margin-top: 2rem;
    }

    .bmi-content {
        gap: 3rem;
    }

    .bmi-title {
        margin-left: 0;
    }

    .calculate-your-bmi {
        text-align: start;
        max-width: 100%;
    }

    table caption {
        font-size: 1.6rem;
        color: var(--primary-text-color);
        margin-bottom: 2rem;
        text-align: start;
    }

    .workout-section {
        top: 52%;
        right: 25%;
    }

    .video-section {
        top: 79%;
        right: 53%;
    }

    .play-icon {
        top: 73%;
        right: 73%;
    }

    .header-left {
        max-width: 100%;
        padding-left: 2rem;
    }

    .your-habit-content {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    /* Training and exercises */
    .training-item p {
        top: 60%;
        left: 10%;
    }

    .training-item-2 p {
        top: 1%;
    }

    .training-item-4 p {
        top: 5%;
        left: 40%;
    }

    /* Meet Our Team */
    .team-item h4 {
        top: 60%;
        left: 15%;
    }

    /* Run an Extra Mile Easily */

    .extra-mile p {
        margin-bottom: 4px;
    }

    .extra-mile h2 {
        line-height: 2.2rem;
    }

    .extra-wrapper {
        width: 256px;
        height: 319px;
    }

    .extra-mile-img {
        width: 100%;
        transform: translate(-130px, 140px);
    }

    .extra-mile-img img {
        transform: scale(3.8);
    }
}
